<div class="list container">
  <h4 class="text-center">You must to do it!</h4>
  <ng-container *ngIf="list.length > 0; else noTask">
    <p class="alert alert-warning" [ngClass]="{'alert-success':list.length <4, 'alert-warning':list.length >3 } ">Stuff to do: {{list.length}}</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let task of list;">
        <div class="row">
          <div class="col-md-12">
            <a class="flex-center">{{task}}</a>
          </div>
        </div>
        <div class="row pt-3 pb-2">
          <div class="col-lg-6">
            <button class="btn btn-success btn-sm btn-block" (click)="done(task)">Done</button>
          </div>
          <div class="col-lg-6">
            <button class="btn btn-danger btn-sm btn-block" (click)="remove(task)">Delete</button>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #noTask><div class="alert alert-success">Nothing to do</div></ng-template>
</div>
